!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
      meta(name='description', content='')
      meta(name='author', content='')
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/bootstrap-responsive.min.css', rel='stylesheet')
    - if (typeof(stylesheet) != 'undefined')
      link(href='/css/' + stylesheet, rel='stylesheet')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
      link(rel='shortcut icon', href='/ico/favicon.ico')
      link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
      link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
      link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Hello, World
          .nav-collapse
            ul.nav
              li.active
                a(href='/') Home
              li
                a(href='#create_status', data-toggle='modal') Create status
              li
                a(href='/photos/all') Photos
              li
                - if (!everyauth.loggedIn)
                  a(href='/auth/twitter') Log in with Twitter
                - else
                  a(href='#profile', data-toggle='modal')= everyauth.twitter.user.name
    .container
      h1= title
      != body
      #create_status.modal.hide.fade
        form.modal-form(method='put', action='/status/create')
          .modal-header
            a.close(data-dismiss='modal') &times;
            h3 Create status
          .modal-body
            label Message
            input(name='message', placeholder='Type something&hellip;')
          .modal-footer
            a.btn(href='#', data-dismiss='modal') Close
            input.btn.btn-primary(type='submit', value='Create status')
      - if (everyauth.loggedIn)
        #profile.modal.hide.fade
          .modal-header
            a.close(data-dismiss='modal') &times;
            h3= everyauth.twitter.user.name
          .modal-body
            p= everyauth.twitter.user.location
            p
              a(href='http://www.twitter.com/' + everyauth.twitter.user.screen_name) @#{everyauth.twitter.user.screen_name}
          .modal-footer
            a.btn(href='#', data-dismiss='modal') Close
            a.btn.btn-primary(href='/logout') Log out
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/script.js')
    - if (typeof(script) != 'undefined')
      script(src='/js/' + script)
