if center
  .row
    .span2
      if left
        a(href='/photos/' + (page - 1) + (tag && ('/' + tag) || ''))
          img(src='/photo/' + left.description, alt=left.description)
      else
        &nbsp;
    .span6.offset1
      a(href='/photo/' + center.description)
        img(src='/photo/' + center.description, alt=center.description)
    .span2.offset1
      if right
        a(href='/photos/' + (page + 1) + (tag && ('/' + tag) || ''))
          img(src='/photo/' + right.description, alt=right.description)
      else
        &nbsp;
  br
  div.btn-group
    each tag in center.tags
      a.btn(href='/photos/all/' + tag)=tag
  br
div.alert.alert-info="All photos licensed by InterfaceLIFT.com for personal use only."
