.photos_container
  if left
    .left
      .photo.small
        a(href='/photos/' + (page - 1))
          img(src=left.path, alt=left.description)
  if right
    .right
      .photo.small
        a(href='/photos/' + (page + 1))
          img(src=right.path, alt=right.description)
  if center
    .photo.large
      a(href=center.path)
        img(src=center.path, alt=center.description)
.credit
  All photos licensed by InterfaceLIFT.com for personal use only.
